// Core colors:
$ubuntuOrange: #E95420;
$white: #FFFFFF;
$black: #000000;
$buttonHover:#e6450b;

// Supporting colors:
$lightAubergine: #77216F;
$midAubergine: #5E2750;
$darkAubergine: #2C001E;

// Neutral colors:
$warmGrey: #AEA79F;
$coolGrey: #333333;
$textGrey: #111111;
$hoverGrey: #f7f7f70b;

//Website Accent colors
$bgGrey: #f7f7f7;