@use "centerContent";
@use "colors" as c;
@use "font" as f;
@use "linkStyle";


    .footerFlex{
        @include linkStyle.linkReset;
        @include centerContent.center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }


    .socialMedia{
        display: flex;
        figure{
            margin: 5px;
        }
        img{
            height: 35px;
        }
    }


    .footerLinks{
        display: flex;
        gap: 3%;
        width: 100%;
        a{
            color: c.$textGrey;
        }
        a:hover{
            border-bottom: 1px c.$black solid;
        }

    }


footer{
    height: 75px;
    border-top: 2px c.$ubuntuOrange solid;
}