@use "centerContent";
@use "colors" as c;
@use "font" as f;

.infoBox{
    @include centerContent.center;
    margin-bottom: 25px;
}

// .infoAccent{
//     border-bottom: 1px c.$borderColor solid;
//     margin-bottom: 25px;
// }

@mixin infoImg {
    .infoBox{
        figure{
            margin: 0;
            padding: 0;
    }
    img{
        max-width: 100%;
        filter: brightness(30%);
        position: relative;
    } 
    }
}

@mixin infoContent {
    .infoContent{
        h2{
            position: absolute;
            bottom: 60%;
            left: 25%;
            color: c.$white;
            font-weight: 300;
            max-width: 40%;
            bottom: 60%;
            // text-align: center;
        }
        button{
            position: absolute;
            bottom: 50%;
            left: 25%;
            background-color: c.$ubuntuOrange;
            border: 0;
            border-radius: 15px;
            padding: 20px;
            color: c.$white;
            font-size:x-large
        }
        button:hover{
            background-color: c.$buttonHover;
            cursor: pointer;
            
        }
    }
}

@mixin infoContentQuery {
    @media screen and (max-width:576px){
        .infoContent{
            h2{
                bottom: 45%;
                font-size: 5vw;
            }
            button{
                position: relative;
                margin-bottom: 20px;
            }
        }
}
}