@use "centerContent";
@use "colors" as c;
@use "font" as f;
@use "linkStyle";


@mixin navBar {
    nav{
    height: 80px;
    margin-bottom: 75px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.298);
    background-color: c.$coolGrey;
    display: flex;
    justify-content: center;
        figure{
            margin: 0;
            padding: 0;
        }
        ul{
            @include centerContent.center;
            @include linkStyle.linkReset;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 7%;
            margin-top: 0;
            height: 100%;
            li{
                display: flex;
                align-items: center;
                // list-style: none;
                height: 100%;
                padding: 10px;
                transition: 400ms;
                a{
                    // text-decoration: none;
                    color: c.$white;
                    font-size:x-large;
                    font-weight: 200;
                    border-bottom: 2px c.$ubuntuOrange solid;
                }
            }
            li:hover{

                background-color: c.$hoverGrey;
            }
        }
    }
}

@mixin adaptiveNavbar {
    @media screen and (max-width:576px){
    nav{
        height: 250px;
        padding-top: 3%;
       ul{
        flex-direction: column;
            li{
                margin: 0 0 3% 0;
                a{
                    font-size: large;
                }
            }
        }
    }
}
}