@use "centerContent";
@use "colors" as c;
@use "font" as f;

#newsBox{
    @include centerContent.center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0 10px 0;
    img{
        width: 230px;
        max-height: 180px;
    }
    h3{
        font-size:  large;
        font-weight: 400;
        width: 230px;
    }
    a{
        text-decoration: none;
        color: c.$textGrey;
    }
    figure{
        margin: 10px;
    }
    a:hover{
        text-decoration: underline;
    }
}