@use "font" as f;
@use "colors" as c;
@use "navbar";
@use "footer";

// Fonts
@include f.mainFonts;

// Navigation bar
@include navbar.navBar;
@include navbar.adaptiveNavbar;

// Footer
@include footer.footerFlex;
@include footer.mediaIcon;

*{
    font-family: f.$ubuntuFont;
}

body{
    margin: 0;
    height: 100vh;
}

