@use "font" as f;
@use "colors" as c;
@use "navbar";
@use "footer";
@use "infoBox";

// Fonts
@include f.mainFonts;

// Navigation bar
@include navbar.navBar;
@include navbar.adaptiveNavbar;

// Footer
@include footer.footerFlex;
@include footer.mediaIcon;
@include footer.footerLinks;

//Infobox
@include infoBox.infoImg;
@include infoBox.infoContent;
@include infoBox.infoContentQuery;

*{
    font-family: f.$ubuntuFont;
}

body{
    margin: 0;
    height: 100vh;
}

