@use "font" as f;
@use "colors" as c;
@use "navbar";
@use "footer";
@use "infoBox";
@use "newsbox";
@use "iotdesktop";
@use "formStyle";


// Fonts
@include f.mainFonts;

// Navigation bar
@include navbar.adaptiveNavbar;

//Infobox
@include infoBox.infoContentQuery;


*{
    font-family: f.$ubuntuFont;
}

body{
    margin: 0;
}

.greyBG{
    background-color: c.$bgGrey;
}

.error{
    border-color: red;
}

#errorText{
    color: red;
}

#formFeedback{
    height: 100%;
    font-size: x-large;
    text-align: center;
    font-weight: 300;
}
