@use "font" as f;
@use "colors" as c;
@use "navbar";
@use "footer";
@use "formStyle";
@use "iotdesktop";
@use "formColors";

// Fonts
@include f.mainFonts;

// Navigation bar
@include navbar.adaptiveNavbar;



*{
    font-family: f.$ubuntuFont;
}

body{
    margin: 0;
}

.greyBG{
    background-color: c.$bgGrey;
}

// nav{
//     margin-bottom: 10px;
// }

.formContainer{
    height: 750px;
}

.checkBoxFlex{
    display: flex;
    justify-content: flex-start;
}
.checkboxContainer{
    margin-top: 5%;
}