@use "font" as f;
@use "colors" as c;
@use "navbar";
@use "footer";
@use "formStyle";
@use "iotdesktop";

// Fonts
@include f.mainFonts;

// Navigation bar
@include navbar.adaptiveNavbar;



*{
    font-family: f.$ubuntuFont;
}

body{
    margin: 0;
}

.greyBG{
    background-color: c.$bgGrey;
}

nav{
    margin-bottom: 80px;
}