<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="/css/landingPage.css">
    <script src="/js/newsbox.js" defer></script>
    <script src="/js/formValidate.js" defer></script>
</head>
<body>
    <nav>
        <ul>
            <figure>
                <img src="/assets/Ubuntu-materiale/icons/desktop_icon.svg" alt="">
            </figure>
            <li>
                <a href="/Components/index.html">Forside</a>
            </li>
            <li>
                <a href="/Components/tilmelding.html">Tilmelding</a>
            </li>
            <li>
                <a href="/Components/program.html">Program</a>
            </li>
        </ul>
    </nav>

<div class="infoAccent">
    <div class="infoBox">
        <figure>
            <img src="/assets/oeksnehallen.jpg" alt="Billede af øksnehallen">
        </figure>
        <div class="infoContent">
            <h2>Suspendisse hendrerit neque a nisi interdum, vel lobortis mauris hendrerit. Morbi auctor cursus enim.  </h2>
            <a href="/Components/tilmelding.html"><button>Tilmeld dig i dag!</button></a>
        </div>
    </div>
</div>
<div class="greyBG">
    <div id="newsBox">

    </div>
</div>

    <div class="formContainer">
        <form action="/">
            <fieldset>
                <h2>Er du interesseret i at høre mere?</h2>
                <h3>Tilmeld dig vores nyhedsbrev</h3>
                <div class="input">
                    <label for="fullName">Dit fulde navn:</label>
                    <input type="text" name="fullName" id="fullName">
                </div>
                <div class="input">
                    <label for="email">Din email:</label>
                    <input type="text" name="email" id="email">
                </div>
                <button id="formSubmit">Send</button>
            </fieldset>
        </form>
        <div>
            <p id="formFeedback"></p>
        </div>
    </div>
<div class="greyBG">
    <div class="links">
        <div>
            <div class="linkTitle">
                <figure>
                    <img src="/assets/Ubuntu-materiale/icons/iot_icon.svg" alt="IOT Icon">
                </figure>
                <h3>IOT</h3>
            </div>
                <ul>
                    <li>
                        <a href="https://ubuntu.com/core" target="_blank">Core</a>
                    </li>
                    <li>
                        <a href="https://ubuntu.com/core/services" target="_blank">Consulting</a>
                    </li>
                    <li>
                        <a href="https://ubuntu.com/core/stories" target="_blank">Stories</a>
                    </li>
                    <li>
                        <a href="https://ubuntu.com/core/features" target="_blank">Core features</a>
                    </li>
                    <li>
                        <a href="https://ubuntu.com/core/docs" target="_blank">Core docs</a>
                    </li>
                </ul>
        </div>

        <div>
            <div class="linkTitle">
                <figure>
                    <img src="/assets/Ubuntu-materiale/icons/desktop_icon.svg" alt="Desktop Icon">
                </figure>
                <h3>Desktop</h3>
            </div>
                <ul>
                    <li>
                        <a href="https://ubuntu.com/desktop" target="_blank">Desktop</a>
                    </li>
                    <li>
                        <a href="https://ubuntu.com/desktop/flavours" target="_blank">Ubuntu flavours</a>
                    </li>
                    <li>
                        <a href="https://ubuntu.com/desktop/features" target="_blank">Desktop features</a>
                    </li>
                    <li>
                        <a href="https://ubuntu.com/desktop/organisations" target="_blank">Organisations</a>
                    </li>
                    <li>
                        <a href="https://ubuntu.com/download" target="_blank">Download</a>
                    </li>
                </ul>
        </div>
    </div>
</div>

    <footer>
        <div class="footerFlex">
            <ul class="footerLinks">
                <li>
                    <a href="https://ubuntu.com/about" target="_blank">About us</a>
                </li>
                <li>
                    <a href="https://ubuntu.com/community" target="_blank">Community</a>
                </li>
                <li>
                    <a href="http://www.canonical.com/careers" target="_blank">Careers</a>
                </li>
                <li>
                    <a href="https://ubuntu.com/blog" target="_blank">Blog</a>
                </li>
                <li>
                    <a href="https://ubuntu.com/engage" target="_blank">Resources</a>
                </li>
                <li>
                    <a href="https://ubuntu.com/blog/press-centre" target="_blank">Press Centre</a>
                </li>
            </ul>
            <div class="socialMedia">
                <figure>
                    <a href="#"><img src="/assets/Social-Media-Icons/facebook.png" alt=""></a>
                </figure>
                <figure>
                    <a href="#"><img src="/assets/Social-Media-Icons/linkedin.png" alt=""></a>
                </figure>
                <figure>
                    <a href="#"><img src="/assets/Social-Media-Icons/twitter.png" alt=""></a>
                </figure>
                <figure>
                    <a href="#"><img src="/assets/Social-Media-Icons/rss.png" alt=""></a>
                </figure>
            </div>
        </div>
    </footer>
</body>
</html>