<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="/css/landingPage.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="#">Forside</a>
            </li>
            <li>
                <a href="#">Tilmelding</a>
            </li>
            <li>
                <a href="#">Program</a>
            </li>
        </ul>
    </nav>

    <div>
        <figure>
            <img src="" alt="Billede af øksnehallen">
        </figure>
        <p>Tilmeld dig i dag!</p>
        <button>Tilmeld</button>


    </div>

    <div>
        <form action="/">
            <fieldset>
                <p>Er du interesseret i at høre mere?</p>
                <p>Tilmeld dig vores nyhedsbrev</p>
                <label for="fullName">Dit fulde navn:</label>
                <input type="text" name="fullName" id="fullName">
                <label for="email">Din email</label>
                <input type="text" name="email" id="email">
                <button>Send</button>
            </fieldset>
        </form>
    </div>

    <div>

    </div>

    <footer>
        
    </footer>
</body>
</html>