<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="/css/landingPage.css">
</head>
<body>
    <nav>
        <ul>
            <figure>
                <img src="/assets/Ubuntu-materiale/icons/desktop_icon.svg" alt="">
            </figure>
            <li>
                <a href="/Components/index.html">Forside</a>
            </li>
            <li>
                <a href="/Components/tilmelding.html">Tilmelding</a>
            </li>
            <li>
                <a href="/Components/program.html">Program</a>
            </li>
        </ul>
    </nav>

    <div class="infoBox">
        <figure>
            <img src="/assets/oeksnehallen.jpg" alt="Billede af øksnehallen">
        </figure>
        <div class="infoContent">
            <h2>Suspendisse hendrerit neque a nisi interdum, vel lobortis mauris hendrerit. Morbi auctor cursus enim.  </h2>
            <a href="/Components/tilmelding.html"><button>Tilmeld dig i dag!</button></a>
        </div>
    </div>

    <div class="newsBox">

    </div>

    <div>
        <form action="/">
            <fieldset>
                <p>Er du interesseret i at høre mere?</p>
                <p>Tilmeld dig vores nyhedsbrev</p>
                <label for="fullName">Dit fulde navn:</label>
                <input type="text" name="fullName" id="fullName">
                <label for="email">Din email</label>
                <input type="text" name="email" id="email">
                <button>Send</button>
            </fieldset>
        </form>
    </div>

    <div>
        <div>
            <div class="linkTitle">
                <figure>
                    <img src="/assets/Ubuntu-materiale/icons/iot_icon.svg" alt="IOT Icon">
                </figure>
                <h3>IOT</h3>
            </div>
                <ul>
                    <li>
                        <a href="https://ubuntu.com/core">Core</a>
                    </li>
                    <li>
                        <a href="https://ubuntu.com/core/services">Consulting</a>
                    </li>
                    <li>
                        <a href="https://ubuntu.com/core/stories">Stories</a>
                    </li>
                    <li>
                        <a href="https://ubuntu.com/core/features">Core features</a>
                    </li>
                    <li>
                        <a href="https://ubuntu.com/core/docs">Core docs</a>
                    </li>
                </ul>
        </div>

        <div>
            <div class="linkTitle">
                <figure>
                    <img src="/assets/Ubuntu-materiale/icons/desktop_icon.svg" alt="Desktop Icon">
                </figure>
                <h3>Desktop</h3>
            </div>
                <ul>
                    <li>
                        <a href="https://ubuntu.com/desktop">Desktop</a>
                    </li>
                    <li>
                        <a href="https://ubuntu.com/desktop/flavours">Ubuntu falvours</a>
                    </li>
                    <li>
                        <a href="https://ubuntu.com/desktop/features">Desktop features</a>
                    </li>
                    <li>
                        <a href="https://ubuntu.com/desktop/organisations">Organisations</a>
                    </li>
                    <li>
                        <a href="https://ubuntu.com/download">Download</a>
                    </li>
                </ul>
        </div>
    </div>

    <footer>
        <div class="footerFlex">
            <ul class="footerLinks">
                <li>
                    <a href="https://ubuntu.com/about">About us</a>
                </li>
                <li>
                    <a href="https://ubuntu.com/community">Community</a>
                </li>
                <li>
                    <a href="http://www.canonical.com/careers">Careers</a>
                </li>
                <li>
                    <a href="https://ubuntu.com/blog">Blog</a>
                </li>
                <li>
                    <a href="https://ubuntu.com/engage">Resources</a>
                </li>
                <li>
                    <a href="https://ubuntu.com/blog/press-centre">Press Centre</a>
                </li>
            </ul>
            <div class="socialMedia">
                <figure>
                    <a href="#"><img src="/assets/Social-Media-Icons/facebook.png" alt=""></a>
                </figure>
                <figure>
                    <a href="#"><img src="/assets/Social-Media-Icons/linkedin.png" alt=""></a>
                </figure>
                <figure>
                    <a href="#"><img src="/assets/Social-Media-Icons/twitter.png" alt=""></a>
                </figure>
                <figure>
                    <a href="#"><img src="/assets/Social-Media-Icons/rss.png" alt=""></a>
                </figure>
            </div>
        </div>
    </footer>
</body>
</html>