<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tilmelding</title>
    <link rel="stylesheet" href="/css/tilmelding.css">
    <script src="/js/interestFormValidate.js" defer></script>
</head>
<body>
    <nav>
        <ul>
            <figure>
                <img src="/assets/Ubuntu-materiale/icons/desktop_icon.svg" alt="">
            </figure>
            <li>
                <a href="/Components/index.html">Forside</a>
            </li>
            <li>
                <a href="/Components/tilmelding.html">Tilmelding</a>
            </li>
            <li>
                <a href="/Components/program.html">Program</a>
            </li>
        </ul>
    </nav>

    <div class="formContainer">
        <form id="form">
            <fieldset>
                <h2>Er du interesseret i at høre mere?</h2>
                <h3>Tilmeld dig vores nyhedsbrev</h3>
                <div class="input" id="nameInput">
                    <label for="fullName">Dit fulde navn:</label>
                    <input type="text" name="fullName" id="fullName">
                </div>
                <div>
                    <label for="adress">Din addresse:</label>
                    <input type="text" name="adress" id="adress">
                </div>
                <div>
                    <label for="country">Dit land:</label>
                    <input type="text" name="country" id="country">
                </div>
                <div class="input" id="emailInput">
                    <label for="email">Din email:</label>
                    <input type="text" name="email" id="email">
                    <span id="errorText" style="display:none;">Du har indtastet din email forkert</span>
                </div>
                <p>Hvilken er din primære interesse?</p>
                <div class="radioFlex">
                    <div>
                        <input type="radio" name="interest" id="iot" value="iot">
                        <label for="iot">IoT</label>
                    </div>
                    <div>
                        <input type="radio" name="interest" id="desktop" value="desktop">
                        <label for="desktop">Desktop</label>
                    </div>
                </div>
                <fieldset class="checkboxContainer">
                    <legend>Vælg hvilke dage du vil tilmelde dig til</legend>
                    <div class="checkBoxFlex">
                        <div>
                            <input type="checkbox" name="weekdays" id="wednesday" value="Onsdag">
                            <label for="wednesday">Onsdag</label>
                        </div>
                        <div>
                            <input type="checkbox" name="weekdays" id="thursday" value="Torsdag">
                            <label for="thursday">Torsdag</label>
                        </div>
                        <div>
                            <input type="checkbox" name="weekdays" id="friday" value="Fredag">
                            <label for="friday">Fredag</label>
                        </div>
                        
                    </div>
                </fieldset>
                <button type="button" id="formSubmit">Send</button>
            </fieldset>
        </form>
    </div>
    <div class="feedbackPositioning">
        <div>
        <p id="formFeedback"></p>
        <p id="dageTitel"></p>
        <div class="dageFlex">
            <p id="dageInput"></p>
        </div>
        </div>
    </div>

    <div class="greyBG">
        <div class="links">
            <div>
                <div class="linkTitle">
                    <figure>
                        <img src="/assets/Ubuntu-materiale/icons/iot_icon.svg" alt="IOT Icon">
                    </figure>
                    <h3>IOT</h3>
                </div>
                    <ul>
                        <li>
                            <a href="https://ubuntu.com/core" target="_blank">Core</a>
                        </li>
                        <li>
                            <a href="https://ubuntu.com/core/services" target="_blank">Consulting</a>
                        </li>
                        <li>
                            <a href="https://ubuntu.com/core/stories" target="_blank">Stories</a>
                        </li>
                        <li>
                            <a href="https://ubuntu.com/core/features" target="_blank">Core features</a>
                        </li>
                        <li>
                            <a href="https://ubuntu.com/core/docs" target="_blank">Core docs</a>
                        </li>
                    </ul>
            </div>
    
            <div>
                <div class="linkTitle">
                    <figure>
                        <img src="/assets/Ubuntu-materiale/icons/desktop_icon.svg" alt="Desktop Icon">
                    </figure>
                    <h3>Desktop</h3>
                </div>
                    <ul>
                        <li>
                            <a href="https://ubuntu.com/desktop" target="_blank">Desktop</a>
                        </li>
                        <li>
                            <a href="https://ubuntu.com/desktop/flavours" target="_blank">Ubuntu flavours</a>
                        </li>
                        <li>
                            <a href="https://ubuntu.com/desktop/features" target="_blank">Desktop features</a>
                        </li>
                        <li>
                            <a href="https://ubuntu.com/desktop/organisations" target="_blank">Organisations</a>
                        </li>
                        <li>
                            <a href="https://ubuntu.com/download" target="_blank">Download</a>
                        </li>
                    </ul>
            </div>
        </div>
    </div>

    <footer>
        <div class="footerFlex">
            <ul class="footerLinks">
                <li>
                    <a href="https://ubuntu.com/about" target="_blank">About us</a>
                </li>
                <li>
                    <a href="https://ubuntu.com/community" target="_blank">Community</a>
                </li>
                <li>
                    <a href="http://www.canonical.com/careers" target="_blank">Careers</a>
                </li>
                <li>
                    <a href="https://ubuntu.com/blog" target="_blank">Blog</a>
                </li>
                <li>
                    <a href="https://ubuntu.com/engage" target="_blank">Resources</a>
                </li>
                <li>
                    <a href="https://ubuntu.com/blog/press-centre" target="_blank">Press Centre</a>
                </li>
            </ul>
            <div class="socialMedia">
                <figure>
                    <a href="#"><img src="/assets/Social-Media-Icons/facebook.png" alt=""></a>
                </figure>
                <figure>
                    <a href="#"><img src="/assets/Social-Media-Icons/linkedin.png" alt=""></a>
                </figure>
                <figure>
                    <a href="#"><img src="/assets/Social-Media-Icons/twitter.png" alt=""></a>
                </figure>
                <figure>
                    <a href="#"><img src="/assets/Social-Media-Icons/rss.png" alt=""></a>
                </figure>
            </div>
        </div>
    </footer>

</body>
</html>